*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
header,footer,section{
    width:1210px;
    margin:0 auto;
}
header iframe,footer iframe{
    width:1210px;
    height:230px;
}
footer iframe{
    height:250px;
}
footer{
    margin-top:15px;
}
.lf{
    float:left;
}
.rf{
    float:right;
}
.hsolu:after{
    content:"";
    display:block;
    clear:both;
}
ul{
    list-style-type:none;
}
a{
    text-decoration:none;
}

