footer{
    margin-top:20px;
}
footer div.content{
    margin:15px auto;
    text-align:center;
    width:1200px;
}
footer div.content:after{
    content:"";
    display:block;
    clear:both;
}
footer ul{
    list-style-type:none;
    float:left;
    margin:0 73px;
}
footer ul li{
    padding:5px 5px;
    margin:5px 50;
}
footer ul li a{
    font-size:18px;
    color:#333;
}
footer ul li a h4{
    font-size:20px;
    color:#333;
}
footer p{
    font-size:16px;
    color:#333;
    text-align:center;
}