body{
    background:#fff;
}
section div.stop{
    margin:15px auto 25px;
    height:500px;
    position:relative;
}
section div.mnav{
    width:250px;
    height:500px;
    position:absolute;
    text-align:center;
    border:1px solid #d7d4d1;
}
section div.mnav ul li{
    padding:14px;
    border-bottom:1px solid #d7d4d1;
}
section div.mnav ul li a{
    font-size:20px;
    color:#333;
}
section div.banner{
    width:960px;
    height:500px;
    position:absolute;
    right:0;
}
section div.banner img{
    width:960px;
    height:440px;
    position:absolute;
    bottom:0;
}
section div.stop div.banner nav{
    width:960px;
    height:60px;
    position:absolute;
}
div.banner nav>ul>li{
    float:left;
    margin:0 20px;
    width:100px;
    height:60px;
    line-height:60px;
}
div.banner nav ul li a{
    color:#333;
    font-size:18px;
    text-align:center;
}
section #f1>p,section #f2>p,section #f3>p,section #f4>p,section #f5>p{
    font-size:20px;
    color:#715044d9;
    border-bottom:2px double #715044c7;
    padding-bottom:10px;
    margin:15px 0;
    font-weight:bold;
}
.pro1>a>img,.pro2>a>img,.pro3>a>img,.pro4>a>img,.pro5>a>img{
    width:225px;
    margin:5px 3px;
}
.pro1,.pro2,.pro3,.pro4,.pro5{
    border:1px solid #d7d4d1;
    width:235px;
    float:left;
    margin:0 3px;
}
.pro1 .intro,.pro2 .intro,.pro3 .intro,.pro4 .intro,.pro5 .intro{
    margin:5px 5px;
}
.top{
    margin:20px 0;
}
.name{
    color:#464141;

}
.desc{
    color:#5d5c5b;
    font-size:18px;
    text-align:justify;
}
.price{
    color:#f00;
    font-size:20px;
}
.select{
    color:#fff;
    background:#f00;
    font-size:20px;
    padding:2px 10px;
    margin-left:77px;
}
#f2>div,#f3>div{
    margin:10px 5px;
}
#f2>div>div,#f3>div>div{
    width:228px;
    float:left;
    margin:10px 6px;
}
#f2>div>div>a>img,#f3>div>div>a>img{
    width:228px;
}
#f4 div.content div.left,#f5 div.content div.left{
    width:255px;
    height:486px;
    border:1px solid #f7f0ea;
}
#f4 div.content div.left>h3,#f5 div.content div.left>h3{
    color:#844b19;
    padding-left:10px;
}
#f4 div.content div.left div.top>a>img,#f5 div.content div.left div.top>a>img{
    margin-left:5px;
}
#f4 div.content div.left div.bottom,#f5 div.content div.left div.bottom{
    padding:20px;
}
#f4 div.content div.center,#f5 div.content div.center{
    width:525px;
    height:487px;
}
#f4 div.content div.right,#f5 div.content div.right{
    width:430px;
    height:487px;
    border:1px solid #f7f0ea;
}
#f4 div.content div.right>div,#f5 div.content div.right>div{
    width:208px;
    margin:3px 2px;
}
#f4 div.content div.right>div>a>img,#f5 div.content div.right>div>a>img{
    width:150px;
    margin-top:3px;
    margin-left:27px;
}
.desc1{
    font-size:15px;
    color:#42403f;
}
.price1{
    font-size:18px;
}








