section div.main .left-products{
    width:200px;
}
section div.main div.left-products>.content>div{
    margin:5px 0;
}
section div.main div.center-products{
    width:1000px;
}
section .right-products>p{
    font-size:20px;
    color:#715044d9;
    border-bottom:2px double #715044c7;
    padding-bottom:10px;
    margin:15px 0;
    font-weight:bold;
}
.pro1>a>img,.pro2>a>img,.pro3>a>img,.pro4>a>img,.pro5>a>img{
    width:225px;
    margin:5px 3px;
}
.pro1,.pro2,.pro3,.pro4,.pro5{
    border:1px solid #d7d4d1;
    width:235px;
    float:left;
    margin:0 3px;
}
.pro1 .intro,.pro2 .intro,.pro3 .intro,.pro4 .intro,.pro5 .intro{
    margin:5px 5px;
}
.top{
    margin:20px 0;
}
.name{
    color:#464141;

}
.desc{
    color:#5d5c5b;
    font-size:18px;
    text-align:justify;
}
.price{
    color:#f00;
    font-size:20px;
}
.select{
    color:#fff;
    background:#f00;
    font-size:20px;
    padding:2px 10px;
    margin-left:77px;
}