body{
    background:url("../image/timg.jpg") no-repeat;
    background-size:cover;
}
header{
    height:150px;
    border-bottom:1px solid #dde;
}
header div,section,footer{
    width:1000px;
    margin:0 auto;
}
header img{
    width:300px;
    padding-top:5px;
    vertical-align:middle;
}
header span.welcom{
    margin-left:10px;
    font-size:30px;
    color:#333;
}
header span.tologin{
    float:right;
    margin-top:55px;
    font-size:20px;
    color:#666;
}
header span a{
    font-size:20px;
    font-weight:bold;
    color:#333;
}
section div.login{
    width:600px;
    height:380px;
    margin:150px auto;
    background-color:#cec6c5;
    position:relative;
}
section div.input{
   margin-top:25px;
}
.content a.pwdM{
    float:right;
    font-size:17px;
    margin-right:23px;
    margin-top:-24px;
}
#memory{
    float:left;
    margin-left:25px;
    margin-top:30px;
}
#prompt{
    display:inline-block;
    font-size:18px;
    color:#551a8b;
    margin-top:24px;
    margin-left:20px;
}
#msg{
    margin-left:26px;
}


